<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.taskdata.mapper.TblTaskDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="tblTaskDataResultMap" type="org.springblade.modules.taskdata.entity.TblTaskData">
        <result column="data_id" property="dataId"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="task_id" property="taskId"/>
        <result column="cust_info" property="custInfo"/>
        <result column="is_lock" property="isLock"/>
        <result column="is_call" property="isCall"/>
        <result column="staff_id" property="staffId"/>
        <result column="update_time" property="updateTime"/>
        <result column="incomp_num" property="incompNum"/>

        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="voice_content" property="voiceContent"/>
        <result column="sms_content" property="smsContent"/>
    </resultMap>


    <select id="selectTblTaskDataPage" resultMap="tblTaskDataResultMap">
        select * from tbl_task_data
    </select>

    <select id="selectTblTaskDataOne" resultMap="tblTaskDataResultMap">

        SELECT a.data_id,a.serial_number,a.task_id,a.cust_info,
        i.product_id,i.product_name,i.voice_content,i.sms_content
        FROM tbl_task_data a,tbl_task_info i
        WHERE a.is_lock=0
        AND a.is_call=0
        AND i.task_status=5
        <if test="_parameter!=null">
            AND a.task_id=#{_parameter}
        </if>
        AND a.task_id=i.task_id
        ORDER BY RAND() LIMIT 1
    </select>

    <select id="selectTblTaskDataSpe" resultMap="tblTaskDataResultMap">

        SELECT a.data_id,a.serial_number,a.task_id,a.cust_info,
        i.product_id,i.product_name,i.voice_content,i.sms_content
        FROM tbl_task_data a,tbl_task_info i
        WHERE a.is_lock=0
        <if test="_parameter!=null">
            AND a.data_id=#{_parameter}
        </if>
        AND i.task_status=5
        AND a.task_id=i.task_id
    </select>

    <select id="updateTblTaskDataLock" resultMap="tblTaskDataResultMap">
        UPDATE tbl_task_data
        SET is_lock=1,update_time=now()
        WHERE 1=1
        AND data_id=#{dataId}
    </select>

    <select id="updateTblTaskDataUnLock" resultMap="tblTaskDataResultMap">
        UPDATE tbl_task_data
        SET is_lock=#{isLock},update_time=now()
        WHERE 1=1
        AND data_id=#{dataId}
    </select>

    <select id="updateTblTaskData" resultMap="tblTaskDataResultMap">
        UPDATE tbl_task_data
        SET is_call=#{isCall},staff_id=#{staffId},is_lock=#{isLock},update_time=now()
        WHERE 1=1
        AND data_id=#{dataId}
    </select>


    <select id="tblTaskDataStatistics" resultMap="tblTaskDataResultMap">
        select count(*) incomp_num from tbl_task_data where staff_id = #{staffId} and is_call = 0
    </select>
</mapper>
