@layout("/common/_container.html"){
<script type="text/javascript">
	var ctx="${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns","${code}");
	});
	
	function initGrid(){
		var grid_url = ctx+"/${code}/list/";//查询列表接口
		var _colnames=[ "序列","日志名称", "方法参数","操作人","操作时间","是否成功"];
		var _colmodel=[   {name:"id",index:"id", width:80,hidden:true},
						  {name:"logname",index:"logname", width:120},
						  {name:"method",index:"method", width:400},
						  {name:"username",index:"userid", width:60},
						  {name:"createtime",index:"createtime", width:120,align:"center"},
						  {name:"succeedname",index:"succeed", width:50,align:"center"}
						];
		
		jQuery(grid_selector).jqGrid({
			url:grid_url,
		    shrinkToFit:true,//适用于较少字段,响应式
			colNames:_colnames,
			colModel:_colmodel, 
			jsonReader:{id:"ID"},
			pager : pager_selector,
			postData: {sort: "id", order: "desc"}
		});
		

	}
	
</script>


	<!-- 配置grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置查询 -->
			@ var _col=[
			@			  {name:"日志名称",index:"logname", type:"text"},
			@		      {name:"方法参数",index:"method",type:"text"},
			@			  {name:"操作人",index:"toint_userid_equal", type:"selectUser"}
			@		   ];
			@ include("/common/_function/_search.html",{"col":_col}){}
			<!-- 按钮组 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页 -->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	<!-- 引入列表页所需js -->
	@include("/common/_listscript.html"){}
@}	