<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd ">

	<!-- beetl主配置 -->
	<bean id="beetlConfig" class="com.smallchill.core.beetl.MyBeetlGroupUtilConfiguration" init-method="init">
		<property name="root" value="/" />
	</bean>

	<!-- beetl视图 -->
	<bean id="viewResolver" class="org.beetl.ext.spring.BeetlSpringViewResolver">
		<property name="contentType" value="text/html;charset=UTF-8" />
	</bean>
	
	<!-- 注册sqlmanager(主库) -->
	<bean id="sqlManager" class="org.beetl.sql.ext.spring4.SqlManagerFactoryBean">
		<property name="nc">
			<bean class="org.beetl.sql.core.DefaultNameConversion"></bean>
		</property>
		<property name="interceptors">
			<list>
				<bean class="com.smallchill.core.beetl.ReportInterceptor"></bean>
			</list>
		</property>
		<property name="cs">
			<bean class="org.beetl.sql.ext.spring4.BeetlSqlDataSource">
				<property name="masterSource" ref="dataSource"></property>
			</bean>
		</property>
		<property name="dbStyle">
			<bean class="org.beetl.sql.core.db.MySqlStyle"></bean>
		</property>
		<property name="sqlLoader">
			<bean class="org.beetl.sql.core.ClasspathLoader">
				<property name="sqlRoot" value="/beetlsql"></property>
				<property name="charset" value="UTF-8"></property>
				<property name="dbs">
					<bean class="org.beetl.sql.core.db.MySqlStyle"></bean>
				</property>
			</bean>
		</property>
		<property name="configLocation" value="classpath:/beetlsql.properties"></property>
	</bean>

	<!-- 注册sqlmanager(其他库) -->
	<!--<bean id="otherSqlManager" class="org.beetl.sql.ext.spring4.SqlManagerFactoryBean">
		<property name="nc">
			<bean class="org.beetl.sql.core.DefaultNameConversion"></bean>
		</property>
		<property name="interceptors">
			<list>
				<bean class="com.smallchill.core.beetl.ReportInterceptor"></bean>
			</list>
		</property>
		<property name="cs">
			<bean class="org.beetl.sql.ext.spring4.BeetlSqlDataSource">
				<property name="masterSource" ref="otherSource"></property>
			</bean>
		</property>
		<property name="dbStyle">
			<bean class="org.beetl.sql.core.db.MySqlStyle"></bean>
		</property>
		<property name="sqlLoader">
			<bean class="org.beetl.sql.core.ClasspathLoader">
				<property name="sqlRoot" value="/beetlsql"></property>
				<property name="charset" value="UTF-8"></property>
				<property name="dbs">
					<bean class="org.beetl.sql.core.db.MySqlStyle"></bean>
				</property>
			</bean>
		</property>
		<property name="configLocation" value="classpath:/beetlsql.properties"></property>
	</bean>-->


	<!-- 配置shiro-redis -->  
	<bean id="redisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">  
	    <property name="maxTotal" value="${redis.pool.maxTotal}"/> 
	    <property name="maxIdle" value="${redis.pool.maxIdle}" />   
	    <property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}" /> 
	    <property name="testOnBorrow" value="${redis.pool.testOnBorrow}" />   
	    <property name="testOnReturn" value="${redis.pool.testOnReturn}" />
	</bean>  
	<bean id="shiroRedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy">  
        <constructor-arg index="0" ref="redisPoolConfig"/>    
        <constructor-arg index="1" value="${shiro.redis.ip}" type="java.lang.String"/>    
        <constructor-arg index="2" value="${shiro.redis.port}" type="int"/>    
	</bean>

	<!-- 配置redis集群版 -->
	<!-- <bean id="jedisCluster" class="redis.clients.jedis.JedisCluster">
		<constructor-arg>
			<set>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="127.0.0.1"/>
					<constructor-arg name="port" value="7001"/>
				</bean>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="127.0.0.1"/>
					<constructor-arg name="port" value="7002"/>
				</bean>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="127.0.0.1"/>
					<constructor-arg name="port" value="7003"/>
				</bean>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="127.0.0.1"/>
					<constructor-arg name="port" value="7004"/>
				</bean>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="127.0.0.1"/>
					<constructor-arg name="port" value="7005"/>
				</bean>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg name="host" value="127.0.0.1"/>
					<constructor-arg name="port" value="7006"/>
				</bean>
			</set>
		</constructor-arg>
	</bean> -->

	<!-- blade框架自定义config -->
    <bean id="bladeConfig" class="com.smallchill.core.config.BladeConfig">
    	<!-- 注入自定义config -->
		<property name="conf">
			<bean class="com.smallchill.common.config.WebConfig">
				<property name="defaultCacheFactory">
					<bean class="com.smallchill.core.toolbox.cache.RedisCacheFactory"></bean>
				</property>
			</bean>
		</property>
		<!-- 注入sqlManagerMap -->
		<property name="sqlManager">
			<map>
				<entry key="master" value-ref="sqlManager" />
				<!--<entry key="other" value-ref="otherSqlManager" />-->
			</map>
		</property>
		<property name="jedisPool">
			<map>
				<entry key="${shiro.redis.name}" value-ref="shiroRedisPool" />
			</map>
		</property>
		<!-- <property name="jedisCluster">
			<map>
				<entry key="master" value-ref="jedisCluster" />
			</map>
		</property> -->
	</bean>

</beans>