<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.taskinfo.mapper.TblTaskInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="tblTaskInfoResultMap" type="org.springblade.modules.taskinfo.entity.TblTaskInfo">
        <result column="task_id" property="taskId"/>
        <result column="task_name" property="taskName"/>
        <result column="task_type" property="taskType"/>
        <result column="task_status" property="taskStatus"/>
        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="voice_content" property="voiceContent"/>
        <result column="sms_content" property="smsContent"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <select id="selectTblTaskInfoPage1" resultMap="tblTaskInfoResultMap">
        select * from tbl_task_info WHERE task_type = #{taskType}
    </select>

    <select id="selectTblTaskInfoPage2" resultMap="tblTaskInfoResultMap">
        select * from tbl_task_info WHERE  task_id = #{taskId}
    </select>

    <select id="selectTblTaskInfoOne" resultMap="tblTaskInfoResultMap">
        select task_id,product_id,product_name,voice_content,sms_content from tbl_task_info
        WHERE task_status=5
        <if test="_parameter!=null">
            AND task_id=#{_parameter}
        </if>
        ORDER BY RAND() LIMIT 1
    </select>

</mapper>
