<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.staffinfo.mapper.TblStaffInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="tblStaffInfoResultMap" type="org.springblade.modules.staffinfo.entity.TblStaffInfo">
        <result column="staff_id" property="staffId"/>
        <result column="staff_name" property="staffName"/>
        <result column="staff_no" property="staffNo"/>
        <result column="staff_pwd" property="staffPwd"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="staff_username" property="staffUsrname"/>
    </resultMap>


    <select id="selectTblStaffInfoPage" resultMap="tblStaffInfoResultMap">
        select * from tbl_staff_info
    </select>

    <select id="checkUser" resultMap="tblStaffInfoResultMap">
        select * from tbl_staff_info
        where 1=1
        <if test="staffUsrname != '' and staffUsrname !='null' and staffUsrname !=null">
            and (staff_username = #{staffUsrname} and staff_pwd = #{staffPwd})
        </if>
        <if test="serialNumber != '' and serialNumber !='null' and serialNumber !=null">
            and (serial_number = #{serialNumber} and staff_pwd = #{staffPwd})
        </if>
    </select>
</mapper>
